samples/Mule/dataweave.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="DW_HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4d265575-e82b-489e-af85-32c28ae51697" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="dataweaveFlow" doc:id="fb9f311f-c951-4459-a094-387c076b2399" >
		<http:listener doc:name="Listener" doc:id="5dc3e696-2c93-41f0-8952-a9003cee5361" config-ref="DW_HTTP_Listener_config" path="/"/>
		<ee:transform doc:name="Transform Message" doc:id="b9d228d0-7e8d-46f0-97e4-a9043842fb90" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
classrooms: payload..*teacher groupBy $.subject mapObject ((teacherGroup, subject) -> {
   class: {
     name: subject,
     teachers: { (teacherGroup map {
       teacher:{
           name: $.name,
           lastName: $.lastName
       }
     })
   }
  }
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
