samples/Mule/odata-metadata.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
						http://www.mulesoft.org/schema/mule/apikit-odata http://www.mulesoft.org/schema/mule/apikit-odata/current/mule-apikit-odata.xsd
						http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
						http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
  <apikit-odata:config name="odata-metadata-config" apiDefinition="api/odata-metadata.csdl.xml" />
  <http:listener-config name="HTTP_Listener_Config">
    <http:listener-connection host="0.0.0.0" port="8081" />
  </http:listener-config>
  <flow name="main-odata-flow">
    <http:listener config-ref="HTTP_Listener_Config" path="/api/*">
      <http:response statusCode="#[attributes.statusCode default 200]">
        <http:headers>#[attributes.headers default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.statusCode default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.headers default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit-odata:route config-ref="odata-metadata-config">
      <apikit-odata:http-request-parameters listenerPath="#[attributes.listenerPath]" method="#[attributes.method]" scheme="#[upper(attributes.scheme)]" host="#[attributes.headers.'host']" httpHeaders="#[attributes.headers]" queryString="#[attributes.queryString]" maskedRequestPath="#[attributes.maskedRequestPath]" />
    </apikit-odata:route>
    <error-handler name="Error_Handler">
      <on-error-propagate name="On_Error_Propagate" enableNotifications="true" logException="true" type="MULE:ANY">
        <ee:transform>
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: {
		code: error.errorMessage.payload.code default "UNKNOWN",
		message: error.errorMessage.payload.message default error.description,
		target: error.errorMessage.payload.target,
		details: error.errorMessage.payload.details default [{code: "UNKNOWN", message: error.detailedDescription, target: null}],
		innererror: error.errorMessage.payload.innerError default error.childErrors
	}
}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="statusCode"><![CDATA[error.errorMessage.payload.statusCode default 500]]></ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
    </error-handler>
  </flow>
  <flow name="GET\Customers\ENTITY">
    <apikit-odata:request-entity-listener config-ref="odata-metadata-config" path="/Customers" method="GET" />
    <logger level="INFO" message="In GET\Customers\ENTITY flow" />
    <apikit-odata:serialize-entity config-ref="odata-metadata-config" path="/Customers" method="GET">
      <apikit-odata:inbound-content>#[%dw 2.0 output application/json --- payload]</apikit-odata:inbound-content>
    </apikit-odata:serialize-entity>
  </flow>
  <flow name="POST\Customers\ENTITY">
    <apikit-odata:request-entity-listener config-ref="odata-metadata-config" path="/Customers" method="POST" />
    <logger level="INFO" message="In POST\Customers\ENTITY flow" />
    <apikit-odata:serialize-entity config-ref="odata-metadata-config" path="/Customers" method="POST">
      <apikit-odata:inbound-content>#[%dw 2.0 output application/json --- payload]</apikit-odata:inbound-content>
    </apikit-odata:serialize-entity>
  </flow>
  <flow name="PATCH\Customers\ENTITY">
    <apikit-odata:request-entity-listener config-ref="odata-metadata-config" path="/Customers" method="PATCH" />
    <logger level="INFO" message="In PATCH\Customers\ENTITY flow" />
    <apikit-odata:serialize-entity config-ref="odata-metadata-config" path="/Customers" method="PATCH">
      <apikit-odata:inbound-content>#[%dw 2.0 output application/json --- payload]</apikit-odata:inbound-content>
    </apikit-odata:serialize-entity>
  </flow>
  <flow name="PUT\Customers\ENTITY">
    <apikit-odata:request-entity-listener config-ref="odata-metadata-config" path="/Customers" method="PUT" />
    <logger level="INFO" message="In PUT\Customers\ENTITY flow" />
    <apikit-odata:serialize-entity config-ref="odata-metadata-config" path="/Customers" method="PUT">
      <apikit-odata:inbound-content>#[%dw 2.0 output application/json --- payload]</apikit-odata:inbound-content>
    </apikit-odata:serialize-entity>
  </flow>
  <flow name="DELETE\Customers\ENTITY">
    <apikit-odata:request-entity-listener config-ref="odata-metadata-config" path="/Customers" method="DELETE" />
    <logger level="INFO" message="In DELETE\Customers\ENTITY flow" />
  </flow>
  <flow name="GET\Customers\ENTITY_COLLECTION">
    <apikit-odata:request-entity-collection-listener config-ref="odata-metadata-config" path="/Customers" method="GET" />
    <logger level="INFO" message="In GET\Customers\ENTITY_COLLECTION flow" />
    <apikit-odata:serialize-entity-collection config-ref="odata-metadata-config" path="/Customers" method="GET">
      <apikit-odata:inbound-content>#[%dw 2.0 output application/json --- { "value": payload }]</apikit-odata:inbound-content>
    </apikit-odata:serialize-entity-collection>
  </flow>
  <flow name="GET\Orders\ENTITY">
    <apikit-odata:request-entity-listener config-ref="odata-metadata-config" path="/Orders" method="GET" />
    <logger level="INFO" message="In GET\Orders\ENTITY flow" />
    <apikit-odata:serialize-entity config-ref="odata-metadata-config" path="/Orders" method="GET">
      <apikit-odata:inbound-content>#[%dw 2.0 output application/json --- payload]</apikit-odata:inbound-content>
    </apikit-odata:serialize-entity>
  </flow>
  <flow name="POST\Orders\ENTITY">
    <apikit-odata:request-entity-listener config-ref="odata-metadata-config" path="/Orders" method="POST" />
    <logger level="INFO" message="In POST\Orders\ENTITY flow" />
    <apikit-odata:serialize-entity config-ref="odata-metadata-config" path="/Orders" method="POST">
      <apikit-odata:inbound-content>#[%dw 2.0 output application/json --- payload]</apikit-odata:inbound-content>
    </apikit-odata:serialize-entity>
  </flow>
  <flow name="PATCH\Orders\ENTITY">
    <apikit-odata:request-entity-listener config-ref="odata-metadata-config" path="/Orders" method="PATCH" />
    <logger level="INFO" message="In PATCH\Orders\ENTITY flow" />
    <apikit-odata:serialize-entity config-ref="odata-metadata-config" path="/Orders" method="PATCH">
      <apikit-odata:inbound-content>#[%dw 2.0 output application/json --- payload]</apikit-odata:inbound-content>
    </apikit-odata:serialize-entity>
  </flow>
  <flow name="PUT\Orders\ENTITY">
    <apikit-odata:request-entity-listener config-ref="odata-metadata-config" path="/Orders" method="PUT" />
    <logger level="INFO" message="In PUT\Orders\ENTITY flow" />
    <apikit-odata:serialize-entity config-ref="odata-metadata-config" path="/Orders" method="PUT">
      <apikit-odata:inbound-content>#[%dw 2.0 output application/json --- payload]</apikit-odata:inbound-content>
    </apikit-odata:serialize-entity>
  </flow>
  <flow name="DELETE\Orders\ENTITY">
    <apikit-odata:request-entity-listener config-ref="odata-metadata-config" path="/Orders" method="DELETE" />
    <logger level="INFO" message="In DELETE\Orders\ENTITY flow" />
  </flow>
  <flow name="GET\Orders\ENTITY_COLLECTION">
    <apikit-odata:request-entity-collection-listener config-ref="odata-metadata-config" path="/Orders" method="GET" />
    <logger level="INFO" message="In GET\Orders\ENTITY_COLLECTION flow" />
    <apikit-odata:serialize-entity-collection config-ref="odata-metadata-config" path="/Orders" method="GET">
      <apikit-odata:inbound-content>#[%dw 2.0 output application/json --- { "value": payload }]</apikit-odata:inbound-content>
    </apikit-odata:serialize-entity-collection>
  </flow>
</mule>
