samples/Mule/secure-properties.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="e541376a-edee-4bec-8237-3dc22fed8a5b" file="config-${env}-secure.yaml" key="${key}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<global-property doc:name="Global Property" doc:id="1663502c-9a9a-4023-ab3c-5a68d497059a" name="env" value="dev" />
	<flow name="testFlow" doc:id="d43c4534-781e-4477-b247-764ca24e69fe" >
		<scheduler doc:name="Scheduler" doc:id="bdc015d2-5c95-493e-95e4-04f017f395e4" >
			<scheduling-strategy >
				<fixed-frequency frequency="5000"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="8ac0a1dd-2b3e-453f-8077-4f5f21d4f74f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
"Decrypted value: " ++ Mule::p('secure::encrypted.value1') ++ "\nUncrypted: " ++ p('secure::testPropertyA')
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="96bf41c1-989a-410b-b014-85ddb7b37ab1" message='#[payload]'/>
	</flow>
</mule>
